@model B201210597.Models.DTO.Appointment



 




<label>Departman Sec</label>
                        <select class="form-control select2"  style="width: 100%;">
    <option selected="selected" value="">Bos!</option>
    @if (Model != null && Model.Departments != null)
    {
        @foreach (var x in Model.Departments)
        {
                    <option value="@x.DepartmentId">@x.DepartmentName</option>
     
       
        }
   
    
    }
</select>

    <label>Klinik Sec</label>

                        <select class="form-control select2"  style="width: 100%;">
    <option selected="selected" value="">Bos!</option>
    @if (Model != null && Model.Clinics != null)
    {
        @foreach (var x in Model.Clinics)
        {
          
                <option value="@x.ClinicId">@x.ClinicName</option>
            

        }
    }
</select>
 <label>Doktor Sec</label>

                        <select class="form-control select2"  style="width: 100%;">
    <option selected="selected" value="">Bos!</option>
    @if (Model != null && Model.Doctors != null)
    {
        @foreach (var x in Model.Doctors)
        {
           
            
                            <option value="@x.DoctorId">@x.DoctorName</option>
            

        }
    }
</select>
<label>GunLetr Sec</label>

                        <select class="form-control select2"  style="width: 100%;">
    <option selected="selected" value="">Bos!</option>
    @if (Model != null && Model.Doctors != null)
    {
        @foreach (var x in Model.Doctors)
        {


                                    <option value="@x.DoctorId">@x.WorkingDays</option>


        }
    }
</select>

<label>Saat Sec</label>

                        <select class="form-control select2"  style="width: 100%;">
    <option selected="selected" value="">Bos!</option>
    @if (Model != null && Model.Doctors != null)
    {
        @foreach (var x in Model.Doctors)
        {


                                            <option value="@x.DoctorId">@x.WorkingHours</option>


        }
    }
</select>
